<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot and Thymeleaf example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Spring Boot and Thymeleaf, part 2 - forms</h3>
	<form action="#" th:action="@{/test}" th:object="${advertisement}" method="post">
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" th:field="*{title}" /></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error message</td>
			</tr>
			
			<tr>
				<td>Price:</td>
				<td><input type="number" th:field="*{price}" /></td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{number}">Price error message</td>
			</tr>
			
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error message</td>
			</tr>
			
			<tr>
				<td><button type="submit">Submit post</button></td>
			</tr>
		</table>
	</form>
</body>
</html>